body {
  margin: 0;
  height: 100vh;
  background:grey;
  animation: colorchange 15s ease-in infinite;
}

@keyframes colorchange {
  0% { background-color: black; }
  50% { background-color: grey; }
  100% { background-color: black; }
}


#display{
scroll-behavior: smooth;
width:350px;
height:60px;
margin:0px;
overflow-x: scroll;
overflow-y: hidden;
white-space: nowrap;
resize: none;
}
.container{
border:4px solid;
border-image: linear-gradient(45deg, #C0392B, #F1C40F, #27AE60, #2980B9) 1;
width:350px;
height:480px;
margin:auto;
background-color:white;

}

.double{
grid-row-start: 2;
grid-column-start: 3;
grid-row-end: 4;
}
#buttons{
display:grid;
grid-template-columns: 1fr 1fr 1fr;
padding:10px;
gap:10px;
}

.ce{
	grid-column-start:3;
}

button{
padding:10px;
font-weight:bold;
background:#2C3E50;
font-size:20px;
color:#ffffff;
border-radius:20px;
border-color:white;
cursor: pointer;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4),
              inset 0 -2px 4px rgba(255, 255, 255, 0.2);
}

.eq{
grid-column-start:3;
}

.plus{
color:aqua;

}

